@import "../../../style/global.css";

.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--brandColor1);
  border: 1px solid var(--brandColor1);
  color: var(--whiteColor);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: var(--brandColor2);
  border-color: var(--brandColor2);
}
