/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */
@import './style/global.css';
* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  background-color: var(--brandColor12);
}
