body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  background-color: #e6e6e6;
  color: #2e2e2e;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #2e2e2e;
  height: 40vh;
  padding: 20px;
  color: #e6e6e6;
}

button {
  color: #2e2e2e;
  font-size: xx-large;
  font-weight: 700;
  min-width: 5%;
  margin-left: 1%;
}

.App-intro {
  font-size: xx-large;
  margin-bottom: 0;
}

.count {
  font-weight: bolder;
  margin: 0;
  font-size: 8vw;
}
